<div class="well">
    <ul class="nav nav-list">

        <li class="nav-header">Regions</li>
        {#{% render(controller('KvartiriBundle:Navigation:menu')) %}#}
        <div id="tree1"></div>
    </ul>
</div>