imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

framework:
#    validation: { enabled: true, enable_annotations: true }
    validation: { enable_annotations: true }
    #esi:             ~
    translator:      ~
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

#    registration:
#        form:
#            type: minn_user_registration
#        confirmation:
#            enabled:    true
##            template:   MinnUserBundle:Registration:email.txt.twig
#            from_email:
#                address: kvartiri@gr-hotels.info
#                sender_name: Kvartiri Team
#    service:
#        mailer:  fos_user.mailer.twig_swift

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
#    globals :
#        address : address
#        phone : 06555555
#        fax : 454654

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"

        entity_managers:
          default:
              auto_mapping: true
              mappings:
                  gedmo_translatable:
                      type: annotation
                      prefix: Gedmo\Translatable\Entity
                      dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity"
                      alias: GedmoTranslatable # this one is optional and will default to the name set for the mapping
                      is_bundle: false
                  gedmo_translator:
                      type: annotation
                      prefix: Gedmo\Translator\Entity
                      dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translator/Entity"
                      alias: GedmoTranslator # this one is optional and will default to the name set for the mapping
                      is_bundle: false
                  gedmo_loggable:
                      type: annotation
                      prefix: Gedmo\Loggable\Entity
                      dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                      alias: GedmoLoggable # this one is optional and will default to the name set for the mapping
                      is_bundle: false
                  gedmo_tree:
                      type: annotation
                      prefix: Gedmo\Tree\Entity
                      dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Tree/Entity"
                      alias: GedmoTree # this one is optional and will default to the name set for the mapping
                      is_bundle: false

# Swiftmailer Configuration

swiftmailer:
    transport:  smtp
    encryption: ssl
#    auth_mode:  login
    host:       mail.gr-hotels.info
    username:   kvartiri@gr-hotels.info
    password:   1team2

#swiftmailer:
#    transport:  smtp
#    encryption: ssl
#    auth_mode:  login
#    host:       smtp.gmail.com
#    username:   velkony@gmail.com
#    password:


#swiftmailer:
#    transport:  "%mailer_transport%"
#    encryption: "%mailer_encryption%"
#    host:       "%mailer_host%"
#    username:   "%mailer_user%"
#    password:   "%mailer_password%"
#    spool:      { type: memory }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Users\UsersBundle\Entity\Users
    registration:
        form:
            handler :  kvartiri_user.form.handler.registration
        confirmation:
            from_email:
                address:        kvartiri@gr-hotels.info
                sender_name:    Any Text
            enabled: true
    service:
            mailer: fos_user.mailer.twig_swift


knp_paginator:
    page_range: 5                      # default page range used in pagination control
    default_options:
        page_name: page                # page query parameter name
        sort_field_name: sort          # sort field query parameter name
        sort_direction_name: direction # sort direction query parameter name
        distinct: true                 # ensure distinct results, useful when ORM queries are using GROUP BY statements
    template:
        pagination: KnpPaginatorBundle:Pagination:twitter_bootstrap_pagination.html.twig     # sliding pagination controls template
        sortable: KnpPaginatorBundle:Pagination:sortable_link.html.twig # sort link template


hwi_oauth:
    http_client:
        verify_peer: false		
    connect:
        account_connector: my_user_provider
    firewall_name: secure_area

    fosub:
        username_iterations: 30
        properties:
            facebook: facebook_id
    resource_owners:
        facebook:
            type:                facebook
            client_id:           1460839190882785
            client_secret:       4650e0d2736d3d82552d54dd42612ef7
            scope:               ""





#hwi_oauth:
#    # name of the firewall in which this bundle is active, this setting MUST be set
#    firewall_name: secure_area
#    connect:
#        confirmation: true
#        #account_connector: hwi_oauth.user.provider.fosub_bridge
#        #registration_form_handler: hwi_oauth.registration.form.handler.fosub_bridge
#        #registration_form: fos_user.registration.form
#
#    resource_owners:
#        github:
#            type:                github
#            client_id:           <client_id>
#            client_secret:       <client_secret>
#            scope:               "user:email"
#
#    fosub:
#        # try 30 times to check if a username is available (foo, foo1, foo2 etc)
#        username_iterations: 30
#
#        # mapping between resource owners (see below) and properties
#        properties:
#            github: githubID





#hwi_oauth:
#  firewall_name: secured_area
#  resource_owners:
#    facebook:
#      type: facebook
#      client_id: id_app
#      client_secret: secret_key_app


