{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="span12">
        <h2>Mot de passe perdu</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span4">
                    <h4>Password retrieval ?</h4>
                    <em>
                        Complete the form, your password will be reset.<br /><br />
                        Once validated, you must use the new password you set.
                    </em>
                </div>

                <div class="span4 offset2">
                    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST">
                        {{ form_widget(form) }}
                        <br />
                        <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
