{% extends "::layout/layout.html.twig" %}

{% block body -%}
    <h1>ClientsRequests creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('client_request') }}">
                Back to the list
            </a>
        </li>
    </ul>

{% endblock %}



